# S3 bucket for temporary ZIP storage
BUCKET_NAME ?= my-aws-lambda-layer-bucket

# Name for your Lambda layer
LAYER_NAME ?= my-layer

# Runtime environments supported by your layer
RUNTIMES ?= python3.6 python3.7

# Optional pip arguments
#my-layer_prep_args = "--no-deps"